ConsoleWebSocket_server/Web References/localhost/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SendInformationModelJSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="json" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendInformationModelJSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendInformationModelJSONResult" type="tns:InformationModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="InformationModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ComputerName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TimeZone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OS_Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NetVersion" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SendOnlineStatus">
        <s:complexType />
      </s:element>
      <s:element name="SendOnlineStatusResponse">
        <s:complexType />
      </s:element>
      <s:element name="SendRequestToDB">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="json" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendRequestToDBResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendInformationModelJSONSoapIn">
    <wsdl:part name="parameters" element="tns:SendInformationModelJSON" />
  </wsdl:message>
  <wsdl:message name="SendInformationModelJSONSoapOut">
    <wsdl:part name="parameters" element="tns:SendInformationModelJSONResponse" />
  </wsdl:message>
  <wsdl:message name="SendOnlineStatusSoapIn">
    <wsdl:part name="parameters" element="tns:SendOnlineStatus" />
  </wsdl:message>
  <wsdl:message name="SendOnlineStatusSoapOut">
    <wsdl:part name="parameters" element="tns:SendOnlineStatusResponse" />
  </wsdl:message>
  <wsdl:message name="SendRequestToDBSoapIn">
    <wsdl:part name="parameters" element="tns:SendRequestToDB" />
  </wsdl:message>
  <wsdl:message name="SendRequestToDBSoapOut">
    <wsdl:part name="parameters" element="tns:SendRequestToDBResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="SendInformationModelJSON">
      <wsdl:input message="tns:SendInformationModelJSONSoapIn" />
      <wsdl:output message="tns:SendInformationModelJSONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendOnlineStatus">
      <wsdl:input message="tns:SendOnlineStatusSoapIn" />
      <wsdl:output message="tns:SendOnlineStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendRequestToDB">
      <wsdl:input message="tns:SendRequestToDBSoapIn" />
      <wsdl:output message="tns:SendRequestToDBSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendInformationModelJSON">
      <soap:operation soapAction="http://tempuri.org/SendInformationModelJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendOnlineStatus">
      <soap:operation soapAction="http://tempuri.org/SendOnlineStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendRequestToDB">
      <soap:operation soapAction="http://tempuri.org/SendRequestToDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendInformationModelJSON">
      <soap12:operation soapAction="http://tempuri.org/SendInformationModelJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendOnlineStatus">
      <soap12:operation soapAction="http://tempuri.org/SendOnlineStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendRequestToDB">
      <soap12:operation soapAction="http://tempuri.org/SendRequestToDB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="https://localhost:44324/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="https://localhost:44324/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>